@font-face {
  font-family: 'Tondo';
  src: url('Fonts/Tondo_Corp_Rg.ttf'); /* IE9 Compat Modes */
  src: url('Fonts/Tondo_Corp_Rg.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fonts/Tondo_Corp_Rg.ttf') format('ttf'), /* Super Modern Browsers */
       url('Fonts/Tondo_Corp_Rg.ttf') format('ttf'), /* Pretty Modern Browsers */
       url('Fonts/Tondo_Corp_Rg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Fonts/Tondo_Corp_Rg.ttf#svgFontName') format('svg'); /* Legacy iOS */
}
body
{
  margin: 0;
  padding: 0;
  font-family: 'Tondo', Fallback, sans-serif;
}
#wrapper
{
	width: 400px;
margin: 0 auto;
background: #e7e7e7;
}

.container {
    padding: 33px 0 2px 0;
}

.col-1 {
    background: #fff;
    padding: 5px;
    box-shadow: 0 2px 2px #999;
    margin: 7px auto 10px auto;
    width: 93%;
}

.col-2 {
    background: #fff;
    padding: 5px;
    box-shadow: 0 2px 2px #999;
    margin: 7px auto;
    width: 93%;
}

 h5 {
    color: #db2428;
    text-align: center;
    font-size: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
ul{
margin:0;
padding:0;

}

li{
margin:0 0 10px 0;
padding:0 0 0 15px;
list-style:none;
text-indent:-15px;
}
#english
{
	display: block;

}
#hindi
{
	display: none;
	
}
.dropdown
{
	position: relative;
	width: 100%;
}
.dropdown div
{
	float: right;
}
.dropdown p {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
    padding-right: 2px;
}

.dropdown select {

      border: 0 !important;  /*Removes border*/
      -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      background: url('../dropdown_arrow.png') no-repeat;  /*Adds background-image*/
      background-position: 51px 6px;  /*Position of the background-image*/
      width: 77px; /*Width of select dropdown to give space for arrow image*/
      height: 20px;/*fix for mac input height*/
      text-indent: 0.01px; /* Removes default arrow from firefox*/
      text-overflow: "";  /*Removes default arrow from firefox*/
      cursor: pointer;
      /*My custom style for fonts*/
      font-size: 12px;
      color: #1455a2;
  
}
select option {
  text-align: center;
}

@media (min-width: 768px) {

#wrapper{
width:400px;
margin:0 auto;
background:#e7e7e7;
}


}


@media (max-width: 767px) {

#wrapper{
width:100%;
margin:0 auto;
background:#e7e7e7;
}


}
