@font-face {
  font-family: 'Tondo';
  src: url('Fonts/Tondo_Corp_Rg.ttf'); /* IE9 Compat Modes */
  src: url('Fonts/Tondo_Corp_Rg.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fonts/Tondo_Corp_Rg.ttf') format('ttf'), /* Super Modern Browsers */
       url('Fonts/Tondo_Corp_Rg.ttf') format('ttf'), /* Pretty Modern Browsers */
       url('Fonts/Tondo_Corp_Rg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Fonts/Tondo_Corp_Rg.ttf#svgFontName') format('svg'); /* Legacy iOS */
}
body
{
  margin: 0;
  padding: 0;
  font-family: 'Tondo', Fallback, sans-serif;
  font-size: 14px;
}
#wrapper
{
	width: 400px;
margin: 0 auto;
background: #ffffff;
}

  .language {

   font-size: 18px;
color: #ffffff;
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
margin: 0 auto;
text-align: center;
background: gray ;
    
    }
.col-1
{
  

  margin: 0 auto;
}
.col-2
{
  
  margin: 0 auto;
}
h2
{
  color:#e91e21;
  font-size: 14px;
  padding: 5px;  
  padding-bottom: 0;
  padding-top: 0;
}
h5
  {
      width: 100%;
      background:#a0a0a0;
      margin:0;
      padding: 0;
      text-align: center;
      color: #ffffff;
      font-size: 18px;
      line-height: 34px;
  }
h3
{
  
  -webkit-border-bottom-right-radius: 12px; 
  -moz-border-bottom-right-radius: 12px; 
  border-bottom-right-radius: 12px; 
   -webkit-border-top-right-radius: 12px; 
  -moz-border-top-right-radius: 12px; 
  border-bottom-right-radius: 12px; 
  background-color: #e91e21;
  line-height: 32px;
  color: #ffffff;
  font-size: 14px;
  padding:0;
  margin-bottom: 0;
  width: 301px;
    margin-top: 2px;
  text-align: center;
}
ul
{

margin: 0px;


}
ul li
{
  line-height: 25px;
  padding-left: 2px;
}
  #tableStyle
  {
    width:96%;
    text-align: center;
    background: #ffffff;
    margin: 0 auto;
    margin-top:2px;
    padding: 0px;
  }

#tableStyle th
  {
    padding: 10px;
    background:#f8f8f8;
    color: #6a6a6a;
    font-weight: bold;  
    border: 1px solid #d3d3d3;  
  }
  #tableStyle tr
  {
    padding: 10px;
    
    font-size: 14px;
    color: #6a6a6a;
      
  }
   #tableStyle tr td
  {
      border:1px solid #d3d3d3;
    padding: 10px;
  }
@media (min-width: 768px) {

#wrapper{
width:400px;
margin:0 auto;

}


}


@media (max-width: 767px) {

#wrapper{
width:100%;
margin:0 auto;
background:#e7e7e7;
}


}
